*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
 }
.montserrat{
   font-optical-sizing: auto;
   font-weight: weight;
   font-style: normal;
}

#logo{
    max-width: 250px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}
#header-main{
    display: flex;
    align-items: center;
    justify-content: center; 
    background: #000223  !important;
    height: 100px;
    gap: 40px;
}
/*itens nav*/
a{
    text-decoration: none;
    color: #fff;
}
#ul-head{
    display: flex;
  list-style: none;   
    font-size: 14px;
    font-weight: 600;
    gap: 15px;
}
ul{
    list-style: none;
}
.btn-boxs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border: none; 
    width: 162px;
    height: 42px;
    letter-spacing: 2.5px;
}

#btn_one {
    border-radius: 20px;
    margin-left: 14px;
    background-color: #26a5d7; 
    border: none;
    font-weight: bold;
    font-size: 13px;
}
#btn_tow {
    border-radius: 20px;
    margin-left: 14px;
    background-color: #df2326; 
    border: none;
    font-weight: bold;
    font-size: 13px;
}
/**/



/* movement itens nav */
nav>div>ul>li>a:hover{
    color: #848688;
    transition: 0.2s;
}



/**/
/* principal*/
#main-box-home{
    background-color: #000223;
}
#conteudos{
    display: flex; 
    align-items: center; 
   justify-content: center;
   justify-content: center;
   margin: auto;
   max-width: 100%;
   height: 600px;
   gap: 190px;
}
/* itens*/
#box-itens-txt{
    color: #fff;
    font-family: Montserrat, sans-serif;
    width: 380px;
    font-size: 45px;
    line-height: 1.0;
}
#subtitle{
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}
#btn-envio{
    background-color: #28a6d9;
    width: 215px;
    height: 45px;
    border-radius: 39px;
    margin-top: 50px;   
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    LETTER-SPACING: 3PX;
    border: none;
    cursor: pointer;
}
/**/

/* box img*/
#box-img-carro{
    margin-top: 100p;
}
#img-carro{
    max-width: 600px;
    height: 500px;
}
/**/


/*  Segunda sessão*/
/* main*/
#second-section{
    background-color: #28a6d9 !important;
}
/**/
/*  HEADER second layout*/
#header-second-section{
    display: flex;
    align-items:  center;
    justify-content: center;
    padding-top: 60px;
    gap: 30px;
}
#txt-second-layout{
    font-size: 40px;
    font-weight: 300;
    width: 400px;
    line-height: 50px;
    color: #fff;
}
/* CAIXAS SEGUNDA SEÇÃO*/
.box-caixas-header{
    display: flex;
    align-items: center;
    gap: 25px;
    margin: auto;
}
.itens-caixas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 146px;
    height: 130px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
}

.caixas1-3{
    background-color: #1182ba;
}
#icon-dollar{
    width: 60px;
    height: 60px;
}

#caixa-2{
    gap: 15px;
    position: relative;
}
#caixa-3{
    gap: 15px;
}
.caixas2-4{
    background-color: none;
    border: 2px solid #fff;
}
#caixa-4{
   display: flex; 
   justify-content: flex-end;
}

#text-box4{
    width: 50px;
    padding: 10px 0px;
}

#button-24{
    width: 5em;
    height: 2rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: #d12f31;
    color: white;
    border: none;
    font-size: 12px;
    letter-spacing: 2px;
    position: absolute;
    margin-top: -15px;
    z-index: 2;
    margin-left: 75px;
}

#text-box3{
width: 50px;
}
#box-txt-bottom{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
#txt-bottom{
    font-size: 10px;
    color: #fff;
    
}
/**/



#all-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -130px;
}
.container {
    background-color: #fff;
    border-radius: 20px;
    width: 390px;
    height: 340px;
    margin-bottom: 30px;
    padding-bottom: 30px;

}
.box-button-form{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: -13px;
}
.box-buttons-comimg{
display: flex;
align-items: center;
gap: 5px;
font-size: 11px;
}

.box-button-form #button2 {
    background-color: #d12f31;
    color: white;
    border: none;
    padding: 11px 15px;
    border-radius: 20px;
    cursor: pointer;
    
}

.box-button-form #button1 {
    color: white;
    border: none;
    padding: 12px 17px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #0077b6;
}

.form-group {
    display: flex;
    align-items: baseline;
   gap: 10px;
   margin-left: 30px;
}
.origem-destino{
    width: 60%;
}
input[type="text"], input[type="number"] {
    padding: 12px;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    font-size: 12px;
    margin-bottom: 16px;
    border: none;
}

.toggle-group label {
    cursor: pointer;
    font-size: 10px;
}
#input-3{
    width: 190px;
}
#valor-nf{
    width: 106px;
}

#icon-plus{
    background-color: red;
    width: 16px;
    height: 16px;
    border-radius: 20px;

}
.submit-button {
    background-color: #d12f31;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    margin-left: 30px;
}

#content-next-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    color: #fff;
    padding: 0px 0px 0px 30px;
    font-size: 13px;
    height: 380px;
}
#infor-ul{
    width: 533px;
}
#title-informacoes{
    font-size: 12px;
    padding: 0px 0px 20px 0px;
}
#ul-second-section{
    font-size: 11px;
    line-height: 16px;
}

/* TERCEIRA SECTION*/
#third-section{
    display: flex;
    align-items: center;  
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem ;
}

#firts-conteiner-txts{
display: flex;
flex-direction: column;
gap: 15px;
padding-left: 10px;
margin-top: -5rem;
}
#title-terc-section{
    width: 380px;
    font-size: 40px;
}
#txt-terc-layout{
    width: 290px;
    color: #0077b6;
    font-size: 18px;
}
#box-btn-terc{
    padding-top: 20px;
}
#btn-vms-conversar{
    background-color: #d42731;
    width: 272px;
    height: 49px;
    border-radius: 39px;
    font-weight: 500;
    font-size: 15px;
    LETTER-SPACING: 4PX;
    border: none;
    color: #fff;
}
#second-ctn-img{
    background-color: #28a6d9;
    border-radius: 80px;
    height: 420px;
    width: 370px;
}

#img-ctn2{
    width: 400px;
    height: 400px;
    padding: 60px 0px 0px 0px;
}
#div-second-and-terc{
    display: flex;
    gap: 10px;
}

#all-box-ctn3{
    position: relative;background-color: #28a6d9;
    border-radius: 80px;
    height: 420px;
    width: 320px;
}
#btn-ctn3{
background-color:#000223;
border: none;
color: #fff;
padding: 10px;
border-radius: 20px;
font-size: 15px;
width: 180px;
position: absolute;

}
#box-btn-ctn3{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div-itens-ctn-3{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 14px;
}
.number-icon{
    font-size: 70px;
    font-weight: 600;
    color: #0079b7;
    font-style: italic;
    font-family: sans-serif;
}
.prgs{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    position: relative;
    padding-left: 15px;
    
}
#icon-arrow{
    position: absolute;
    margin-top: -3px;
    padding-left: 1.7em;
}
.second-iten{
padding-left: 3em;
}
.div-each-item{
    display: flex;
}
#item-second-one{
padding-right: 1.2em;
}
#item-second-tow{
    padding-right: 12px;
}
#item-second-third{
    margin-left: -14px;
    padding-right: 11px;
}
#item-second-quarto{
    margin-left: -14px;
    padding-right: 1.6rem;
}

/* QUARTA SEÇÃO*/
#fourth-session{
height: 30em;
background-color: #28a6d9;
}
/**/
/* QUINTA SECTION */
#fifth-section{
    padding: 60px 0px 80px 0px;
}
#box-contents{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
}
#text-fifth-section{
    width: 570px;
    padding-bottom: 70px;
}

/* CAIXAS QUINTA SEÇÃO*/

.itens-caixas-5section{
    width: 320px;
    height: 260px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 30px;
    font-size: 20px;
}
.boxs1-3{
    border: 2px solid #000;
}
.boxs2-4{
    background-color: #f1f5ff;
    border: 2px solid #f1f5ff;
}
.spans{
    font-weight: 700;
}
#text-p1{
    width: 90px;
}
#text-p2{
    width: 120px;
}
#text-p3{
    width: 150px;  
}
/* IMGS QUINTA SEÇÃO*/
#icon-mapa{
    width: 90px;
    width: 90px;
}
#icon-dollar-red{
    width:  70px;
    height: 70px;
}
#box-red{
    width:  70px;
    height: 70px;
}
#truck-red{
    width:  90px;
    height: 50px;
    margin-top: -5px;
}
#img1{
    margin-left: -5px;
}
/**/

/* SEXTA SEÇÃO*/
#sixth-section{
    background-color: #000223;
}
#allitens-sixth-section{
    padding: 100px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #fff;
    padding-right: 130px;
}
#text-main-sixth{
    font-size: 40px;
    width: 100px;
    line-height: 40px;
    margin-top: -60px;
    padding-bottom: 40px;
}
#p-duv{
    font-weight: 400;
}
#box-prgs p{
    font-size: 15px;
    padding: 15px 0;
    font-weight: 600;
    width: 550px;
    
}
.prgf-1-3{
    color: #28a6d9;
}

#img-tel{
    width: 500px;
    height: 560px;
}
.ctns-prgs-plus{
    display: flex;
    align-items: center;
}
.icons-plus{
    margin-right: -50px;
    padding: 0px 0px 0px 50px;
    width: 65px;
    height: 20px;
}

/**/

/* SETIMA SEÇÃO*/
#seventh-section{
    background-color: #f1f5ff;
    height: 100px;
}
