<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
        </style>
    <title>Despacho Rápido</title>
</head>
<body>
    <header>
        <div class="box_logo">
            <a href="#" class="link_logo">
               <img src="/imgs/logotipo.png" id="logo">
            </a>
        </div>
        <nav class="nav_menu">
            <div id="megamenu">
            <ul>
                <li>
                    <a href="">SIMULAR ENVIO</a>
                </li>
                <li>
                    <a href="">DÚVIDAS</a>
                </li>
                <li>
                    <a href="">RESTRIÇÕES</a>
                </li>
                <li>
                    <a href="">ONDE ESTAMOS</a>
                </li>
                <li>
                    <a href="">CONTATO</a>
                </li>
            </ul> </div></nav>
            <div class="header_buttons">
                <button class="button1_header" id="btn_one">
                    <div class="btn-boxs">

                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="17" height="17" viewBox="0 0 50 50"
                        style="fill:#FFFFFF;">
                        <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 
                        28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path></svg>
                        <a href="" id="link1">RASTREAR</a>

                    </div>
                </button>

                <button class="button2_header" id="btn_tow">
                    <div class="btn-boxs">

                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="fill:#FFFFFF;">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/></svg>
                        <a href="">SOU CLIENTE</a>
                    </div>
                </button>
            </div> 
</body>
</html>